# Autosaves
*~

# Python virtual environnement
venv/
# Python compiled files
*.pyc

# uploaded photos
samples/*.jpg
samples/*.jpeg
samples/*.png

# chunks
chunks/*.jpg
chunks/*.jpeg
chunks/*.png

# databases
*.db

# data backups
*.tgz