# Autosaves
*~

# Python virtual environnement
venv/
# Python compiled files
*.pyc

# uploaded photos
data/samples/*.jpg
data/samples/*.jpeg
data/samples/*.png

# chunks
data/chunks/*.jpg
data/chunks/*.jpeg
data/chunks/*.png

# databases
data/*.db

# data backups
*.tgz
