
.thumbnail .caption {
    font-size: 2rem;
}

.thumbnail img {
    width: 60%;
}

.btn-choice {
    margin-top: 10px;
}

.btn-right-space {
    margin-right: 5px;
}

.top-margin { 
    margin-top: 5px; 
}

.big-text {
    font-size: 2rem;
    margin-bottom: 30px;
}

/* upload page */
.info-msg {
    font-style: italic;
}

fieldset dl {
    margin-bottom: 0px;
}

fieldset.field-upload {
    margin-bottom: 20px;
}

legend {
    margin-bottom: 10px;
}

div #patient-msg {
    margin-bottom: 10px;
}

/* view/annotate page */
input.anno-coord {
    width: 75px;
}

/* remove link decoration */
a.link-silent {
    text-decoration: none;
}

#view-konvajsTEST {
    padding-left: 0px;
    padding-right: 0px;
}

/**********************************************************************
 Flash Flask messages
**********************************************************************/

#flashes{
    border: 1px solid #9D9D9D;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

#flashes li {
    padding: 0.2em;
    list-style: none;
}

#flashes li.succes {
    color: green;
}

#flashes li.error {
    color: red;
}

#flashes ul {
    list-style: none;
}

/**********************************************************************
 Flash JS messages
**********************************************************************/

#flash-container {
    display: inline;
    opacity: 0;
    vertical-align: middle;
    text-align: center;

    /* Set the transitions up. */
    transition: opacity 2s ease-out;
}

#flash-container.showing {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.message {
    border-radius: 0 0 4px 4px;
}

.message.success {
    color: green;
}

.message.error {
    color: red;
}


/**********************************************************************
 footer 
**********************************************************************/
/* Sticky footer:
 https://www.codementor.io/tips/4292721368/twitter-bootstrap-3-sticky-footer
*/

html {
  position: relative;
  min-height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the (fixed) height of the footer here */
  height: auto; /*60px ;*/
  background-color: #222222; /*same as navbar*/
  color: #9d9d9d; /*same as unhovered navbar*/
  padding-top: 10px;
}

footer .list-inline li {
    text-align: center;
    padding: 3px 16px;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover{
    color: #fff;
    text-decoration: none;
}
