.thumbnail .caption {
	font-size: 2rem;
}

.thumbnail img {
	width: 60%;
}

.btn-choice {
	margin-top: 10px;
}

.big-text {
	font-size: 2rem;
	margin-bottom: 30px;
}

input.anno-coord {
	width: 50px;	
}

a.link-silent {
	text-decoration: none;
}

footer {
	padding-top: 10px;
}
