{% extends "skeleton.html" %}


{% block head %}
    {{super()}}
    <style>
        #anno-konvajs{
            /* According to Cropperjs documentation :
             "Limit image width to avoid overflow the container
             This rule is very important, please do not ignore this! "*/
            max-width: 100%;
            overflow: auto;
        }
        .row.limited-height{
            max-height: 500px;
            overflow: auto;
        }

        .anno-stuff{
            display: none;
        }

        #annotations-list li span.click{background-color: yellow;}
    </style>
{% endblock %}


{% block content %}
    <div class="row">
    {% if current_user.is_authenticated and current_user.share_institution(sample.user_upload) %}
        <span class="col-md-2 btn btn-primary" id="toggle-mode">
        	<span id="icon-annotate" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        	<span id="icon-view" class="glyphicon glyphicon-eye-open" aria-hidden="true" style="display: none;"></span>
        	<span id="icon-text">Annotate</span>
        </span>
    {% endif %}
        <span class="col-md-10" id="flash-container"></span>
    </div>

    <section class="row col-xs-12 top-margin limited-height">
      <div id="view-konvajs"></div>
      <div id="anno-konvajs" class="anno-stuff"></div>
    </section>

    <section class="row">
      <form action="/add_anno" method='POST' class='anno-stuff' id="add-new">
          <input class="anno-coord" type="number" name = 'x' id = 'add-sel-x' step="1" readonly>
          <input class="anno-coord" type="number" name = 'y' id = 'add-sel-y' step="1" readonly>
          <input class="anno-coord" type="number" name = 'width'  id = 'add-sel-width' step="1" readonly>
          <input class="anno-coord" type="number" name = 'height' id = 'add-sel-height' step="1" readonly>
          <select  id="new-list-item-text" name="new-list-item-text">
              <option selected="selected" disabled="disabled">Select an annotation</option>
              <optgroup label="Parasite - Unknown species ">
                  <option value="PUR">Ring</option>
                  <option value="PUT">Trophozoide</option>
                  <option value="PUS">Schizont</option>
                  <option value="PUG">Gametocyte</option>
                  <option value="PUU">Unknown</option>
              </optgroup>
              <optgroup label="Parasite P. Falciparum">
                  <option value="PFR">Ring</option>
                  <option value="PFT">Trophozoide</option>
                  <option value="PFS">Schizont</option>
                  <option value="PFG">Gametocyte</option>
                  <option value="PFU">Unknown</option>
              </optgroup>
              <optgroup label="Parasite P. Malariae">
                  <option value="PMR">Ring</option>
                  <option value="PMT">Trophozoide</option>
                  <option value="PMS">Schizont</option>
                  <option value="PMG">Gametocyte</option>
                  <option value="PMU">Unknown</option>
              </optgroup>
              <optgroup label="Parasite P. Ovale">
                  <option value="POR">Ring</option>
                  <option value="POT">Trophozoide</option>
                  <option value="POS">Schizont</option>
                  <option value="POG">Gametocyte</option>
                  <option value="POU">Unknown</option>
              </optgroup>
              <optgroup label="Parasite P. Vivax">
                  <option value="PVR">Ring</option>
                  <option value="PVT">Trophozoide</option>
                  <option value="PVS">Schizont</option>
                  <option value="PVG">Gametocyte</option>
                  <option value="PVU">Unknowns</option>
              </optgroup>
              <option value="RBC">Red Blood Cell</option>
              <option value="WBC">White Blood Cell</option>
              <option value="THR">Platelet</option>
              <option value="ART">Artefact</option>
          </select>
          <input type="submit" id="add-new-submit" value="Add" class="button" />
      </form>
    </section>

    {% if current_user.is_authenticated and current_user.share_institution(sample.user_upload) %}
    <section class="row">
        <em>Double-click the annotation text to edit. Double-click the trash bin icon to delete.</em>
    </section>
    {% endif %}

    <section class="row">
      <ul id="annotations-list" class="list-group">
      </ul>
    </section>
{% endblock %}


{% block imports %}
    {{super()}}
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jeditable.js/1.7.3/jeditable.min.js"></script>
    <script src="https://cdn.rawgit.com/konvajs/konva/1.4.0/konva.min.js"></script>

    <script>
        // couldn't find a better way to pass boolean from jinja :
        var user_auth = '{{current_user.is_authenticated}}'=='True' ? true : false;
        var user_share_institution = '{{ current_user.is_authenticated and current_user.share_institution(sample.user_upload) }}'=='True' ? true : false;
        var user_has_right = user_auth && user_share_institution
        console.log(user_auth, user_share_institution,user_has_right  )
        var sample_id = {{sample_id}}
        var col = {{col}}
        var row ={{row}}


    
        /**************************************************************************/
        /**************************************************************************/
        if (user_has_right) {
            var session = new AnnotationCore(
                scale_stage_container_id,
                ratio_stage_container_id,
                annotations_list_id,
                url_for_img,
                url_for_data
            )



            $( "#toggle-mode" ).click(function() {

                // Toggle button Annotate <-> View
                var value = $(this).text();
                console.log(value);

                if ($( "#icon-text" ).text().trim() == "Annotate" ) {
                    // Change button text and icon Annotate -> View
                    $( "#icon-annotate" ).hide();
                    $( "#icon-view" ).show();
                    $( "#icon-text" ).text("View");
                    // Show annotation stuff : the cropper div and the input form
                    $( ".anno-stuff" ).show();
                    // Hide rendered kanva :
                    $( "#view-konvajs" ).hide();
                }else{
                     // Change button text and icon View -> Annotate
                    $( "#icon-annotate" ).show();
                    $( "#icon-view" ).hide();
                    $( "#icon-text" ).text("Annotate");
                    // Hide anno stuff : cropper div, the input form :
                    $( ".anno-stuff" ).hide();
                    // Show rendered kanva :
                    $( "#view-konvajs" ).show();
                    // Destroy the cropper :
                    //$('#anno-konvajs .konvajs-content canvas').cropper("destroy");
                }
            });

            $('#add-new').submit(function(){
                var newAnnotationText= $( "#new-list-item-text option:selected" ).text();

                $.ajax({

                    url :  Flask.url_for("add_anno", {"sample_id":sample_id , "col":col, "row":row}),
                    type: "POST",
                    data : $('#add-new').serialize(),

                    success: function(theResponse){

                        console.log(theResponse);

                        // draw the annotation on the konvas :
                        new_anno = {
                            annotation :  $('#new-list-item-text').val(),
                            x: $('#add-sel-x').val(),
                            y: $('#add-sel-y').val(),
                            width: $('#add-sel-width').val(),
                            height: $('#add-sel-height').val(),
                            stroke: 'red',
                            strokeWidth: 4,
                            name: theResponse.toString() // it has to be a string !!
                        };
                        console.log("!!!!!!!!!!!!!!!!!!!!!!!!!");
                        addAnnoView(new_anno);
                        anno_stage_anno_layer.draw();

                        //Resource the cropper to take the new annotation into account/
                        new_url = $('#anno-konvajs .konvajs-content canvas')[0].toDataURL();
                        //the first (and the only one) canvas selected here corresponds both to the image and annotation layer of the annotation stage.
                        console.log (new_url);
                        $('#anno-konvajs .konvajs-content canvas').cropper(
                            'replace',
                            new_url,
                            true
                        );

                        view_stage_anno_layer.draw();

                        console.log ("new");
                        console.log (new_anno);
                        console.log(ratio_new_anno);
                        // clear the input fields after submission :
                        $('#add-new').get(0).reset()
                        // That makes adding a bunch of annotation items in sequence very easy and natural.


                        Flash.success("The annotation was added", 2000);
                    },
                    error: function(){
                        // TODO
                        // uh oh, didn't work. Error message?
                    }
                });

                return false; // prevent default form submission -> no page refresh
            });
        }else{
            var session = new ViewCore(
                ratio_stage_container_id,
                annotations_list_id,
                url_for_img,
                url_for_data
            )
        }


    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/flash-messages.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/annotation.js') }}">
    </script>
{% endblock %}
