{% extends "skeleton.html" %}


{% block head%}
    {{super()}}
    {% block title %}Chunk annotatotation{% endblock %}

    <!-- Set up Annotorious : -->
    <link type="text/css" rel="stylesheet" href="http://annotorious.github.com/latest/annotorious.css" />
    <script type="text/javascript" src="http://annotorious.github.com/latest/annotorious.min.js"></script>

    <style>
        #map-annotate-button {
            position:relative;
            top:3px;
            right:3px;
            background-color:#000;
            color:#fff;
            padding:3px 8px;
            z-index:10000;
            font-size:11px;
            text-decoration:none;
        }
    </style>

{% endblock%}

{% block content %}
    <div id = 'map' style="height: 500px; width: 500px; overflow: scroll;">
        <button href="#" id = "map-annotate-button" >
          ADD ANNOTATION
        </button>
        {% set path = '1_0_0.jpg' %}
        {{path}}
        <img id = 'photo' src={{url_for('static', filename = "test/"+path )}} alt="a chunk of an uploaded image" >
    </div>

    <script>

        /***********************************************************************
            Make the chunk div movable using middle mouse button click and drag
        ***********************************************************************/

        //chunk is in a div. its id is map :
        var map_div = document.getElementById("map") ;
        // At the begining : do not set cursor position :
        var curYPos = NULL, curXPos = NULL ;
        //mouse is not currently down :
        var curDown = false;
        // make bigger to go slower :
        speed = 5 ;

        // the move has 3 steps :

        // middle mouse button click -> mousedown event with buttun number 1
        map_div.addEventListener('mousedown', function(e){
            console.log  (e.button)
            if (e.button == 1 ){ // middle button
                console.log  (e)
                curDown = true; curYPos = e.pageY; curXPos = e.pageX;
            }
        });

        // mousemove when middle mouse button is down
        // take the move into account
        map_div.addEventListener('mousemove', function(e){

            if(curDown === true){ // only when mousedown and middle button
                //console.log (e)
                console.log (map_div.scrollLeft)

                map_div.scrollLeft += (curXPos - e.pageX)/speed ;
                map_div.scrollTop += (curYPos - e.pageY)/speed ;

                // TODO : e.screenX ; e.screenY VS e.pageX ; e.pageY VS e.clientX ; e.clientY

            }
        });

        // middle mouse button is up -> mousedown event with buttun number 1
        map_div.addEventListener('mouseup', function(e){

            if (e.button == 1 ){
                console.log  (e)
                curDown = false;
                console.log  ("===============")
            }
        });



        /***********************************************************************
            Toggle annnotation :
        ***********************************************************************/

        // TODO : use anno.activateselector ?



        toggle_button = document.getElementById('map-annotate-button');
        toggle_button.addEventListener('click', function(e){
            var button = document.getElementById('map-annotate-button');
            var photo = document.getElementById('photo');
            console.log  ("toggle annotation");
            console.log  (button.textContent);

            if (button.textContent == 'ADD ANNOTATION') {
                anno.makeAnnotatable(photo)
                button.textContent = 'MOVE ON THE CHUNK'
            }else{
                anno.hideSelectionWidget(photo)
                anno.destroy()
                button.textContent = 'ADD ANNOTATION' ;
            }
        }
        );

    </script>
{% endblock %}
