{% extends "skeleton.html" %}

{% block title %}Image list{% endblock %}

{% block content %}

    {% if samples %}
        They are the samples uploaded :
    	<ul class="fichiers">

        {% for sample_idx, sample in enumerate(samples) %}
        <li>
            <a href="{{ url_for('download', sample_id = sample.id ) }}">
                <span class="glyphicon glyphicon-download"></span>
            </a>

            {{ sample.filename }}

            <ul>
                {% for chunk_idx, (chunk_col, chunk_row) in enumerate( sample.chunks_numerotation) %}
                    <li>
                        <a href="{{ url_for('annotate_chunk', sample_id = sample.id, col = chunk_col, row = chunk_row ) }}">
                            <span>annotate</span>
                        </a>
                        {{ sample.get_chunk_filename(chunk_col, chunk_row) }} has {{ nb_annotations[sample_idx][chunk_idx]}} annotations
                    </li>
                {% endfor %}
            </ul>


        </li>

    	{% endfor %}
    	</ul>




        <table>

            <!-- Col names -->
            <!-- use col names to set table header : -->
            <thead>
                <tr>
                    {%for e in colnames%}
                        <th>{{e}}</th>
                    {%endfor%}
                </tr>
            </thead>
            <!-- Do the same to set the table footer : -->
            <tfoot>
                <tr>
                    {%for e in colnames%}
                        <th>{{e}}</th>
                    {%endfor%}
                </tr>
            </tfoot>

            <!-- Fill table body with data -->
            <tbody>
                {%for row in rows%}
                    <tr>
                        {%for col in row%}
                            <td>{{col}}</td>
                        {%endfor%}
                    </tr>
                {%endfor%}
            </tbody>

        </table>



    {% else %}
        No sample was uploaded, yet.
    {% endif %}
{% endblock %}
