{% extends "skeleton.html" %}

{% block title %}Image list{% endblock %}

{% block content %}

    {% if photos %}
        They are the photos uploaded :
    	<ul class="fichiers">

    	{% for photo in photos %}
        <li>
            <a href="{{ url_for('download', photo_id=photo) }}">
                <span class="glyphicon glyphicon-download"></span>
            </a>
            {{ photo }}
        </li>

    	{% endfor %}
    	</ul>
    {% else %}
        No photo was uploaded, yet.
    {% endif %}
{% endblock %}
