{% extends "skeleton.html" %}

{% block title %}E-learning and training{% endblock %}

{% block content %}
    <div class="row">
        <h3>Select a training activity</h3>

            <a class="col-sm-4 btn btn-info btn-lg btn-right-space link-silent" 
               href="{{url_for('find_para_activity')}}" 
               target="_self">
               <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                Find parasites
            </a>

            <a class="col-sm-4 btn btn-info btn-lg btn-right-space link-silent" 
               href="{{url_for('elearning_yn')}}" 
               target="_self">
               <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                Parasite or not?
            </a>
    </div>
{% endblock %}

