{% extends "skeleton.html" %}

{% block title %}E-learning : Activities{% endblock %}

{% block content %}
    <ul>
        <li>
            <img  src="static/img/logo-find-para.svg" alt="find parasites icon" style="width:100%">
            <div class="caption">
            find parasites
            </div>

        </li>
        <li>
            <img  src="static/img/logo-para-YorN.svg" alt="parasite or not icon" style="width:100%">
            <div class="caption">
            parasite or not
            </div>
        </li>
    </ul>
{% endblock %}
