
<img src="../up/EXAMPLE-smearblood.jpg" alt="smear blood" height="42" width="42"> 
<div class="deletetab tab"></div>

<ul id="annotations-list">
   <li class="owner">
        <span>blabla d'annotation'</span>
        <div class="deletetab tab"></div>
    </li>
    
    <li class="owner">
        <span>mouhaha</span>
        <div class="deletetab tab"></div>
    </li>
    
    <li class="owner">
        <span>hey</span>
        <div class="deletetab tab"></div>
    </li>
</ul>


<form action="" id="add-new-annotation"> 

   <div>
     <input type="text" id="new-annotation-text" name="new-annotation-text" />
     <input type="submit" id="add-new-submit" value="Add" class="button" />

   </div>

</form>


<div id="share-area">
   <p>Public image URL: <a href="#">URL GOES HERE</a> 
   <small>(EVERYBODY can do everything)</small></p>
</div>
