{% extends "skeleton.html" %}


{% block content %}
    <div class="row no-side">
        <span class="large-text">
        Find and click on all parasites on the blood smear
        </span>
    </div>

    <div class="row no-side top-margin">
        <span class="btn btn-success btn-lg">
            Correct parasites <span class="badge" id="success">0</span>
        </span>
        <span class="btn btn-danger btn-lg">
            Errors <span class="badge" id="errors">0</span>
        </span>
        <button class="col-md-1 btn" id="timer"></button>
        <span id="flash-container"></span>
    </div>

    <div class="row no-side col-xs-12 limited-height top-margin">
        <div id="view-konvajs"></div>
    </div>
{%endblock%}


{% block imports %}
    {{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename='js/flash-messages.js') }}"></script>

    <script src="https://cdn.rawgit.com/konvajs/konva/1.4.0/konva.min.js"></script>

    <script>
        var sample_id = {{sample_id}};
        var col = {{col}};
        var row = {{row}};
    </script>


    <script type="text/javascript" src="{{ url_for('static', filename='js/flash-messages.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/annotation.js') }}"></script>

    <script>
        var session = new FindParaActivity(
            ratio_stage_container_id,
            url_for_img,
            url_for_data
        );
    </script>

{% endblock %}
