{% extends "skeleton.html" %}


{% block content %}
    <div class="row no-side">
        <span class="large-text">
        Find and click on all parasites on the blood smear
        </span>
    </div>

    <div class="row no-side top-margin">
        <span class="btn btn-success btn-lg">
            Correct parasites <span class="badge" id="score">0</span>
        </span>
        <span class="btn btn-danger btn-lg">
            Errors <span class="badge" id="error">0</span>
        </span>
        <span id="flash-container"></span>
    </div>

    <div class="row no-side col-xs-12 limited-height top-margin">
        <div id="view-konvajs"></div>
    </div>
{%endblock%}


{% block imports %}
    {{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename='js/flash-messages.js') }}"></script>

    <script src="https://cdn.rawgit.com/konvajs/konva/1.4.0/konva.min.js"></script>

    <script>
        var sample_id = {{sample_id}};
        var col = {{col}};
        var row = {{row}};
    </script>


    <script type="text/javascript" src="{{ url_for('static', filename='js/flash-messages.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/annotation.js') }}"></script>

    <script>
        var session = new FindParaActivity(
            ratio_stage_container_id,
            url_for_img,
            url_for_data
        );
    </script>

    <script>
        var session = new FindParaActivity();

        /* This function adds the annotation on the annotation layers
        *   of the view Konva stage (using ratio)
        *
        * It doesn't refresh the layer
        *
        * @param {object} new_anno - the newly added annotation
        *
        */
        function draw_ratio_rect_from(new_anno){

            // compute the ratio annotation :
            ratio_new_anno = {
                x: new_anno.x * ratio,
                y: new_anno.y * ratio,
                width: new_anno.width * ratio,
                height: new_anno.height * ratio,
                stroke: new_anno.stroke,
                strokeWidth: new_anno.strokeWidth * ratio,
                name: new_anno.name.toString() // it has to be a string !!
            };

            // add the ration annotation as a rect on the anno layer of the view stage
            console.log(ratio_new_anno);
            var ratio_rect = new Konva.Rect({
              x: ratio_new_anno.x,
              y: ratio_new_anno.y,
              width: ratio_new_anno.width,
              height: ratio_new_anno.height,
              fill : null,
              stroke: ratio_new_anno.stroke,
              strokeWidth:  ratio_new_anno.strokeWidth,
              name: ratio_new_anno.name.toString() // it has to be a string !!
            });
            view_stage_anno_layer.add(ratio_rect);

            console.log(ratio_rect);
        }








            }
        }



    </script>
{% endblock %}
