{% extends "skeleton.html" %}

{% block content %}
    <div class="row no-side" id="flash-container">
    </div>

    <div class="row col-xs-12 no-side limited-height">
        <div id="view-konvajs"></div>
    </div>

    <div class="row no-side top-margin">
            <button type="button" class="col-md-2 btn btn-info btn-lg btn-right-space">
                Success
                <span class="badge" id="success">0</span>
            </button>
            <button type="button" class="col-md-2 btn btn-info btn-lg btn-right-space">
                Errors
                <span class="badge" id="errors">0</span>
            </button>


        <button type="button" class="col-md-3 btn btn-warning btn-lg pull-right" id="no">
            <strong>Not a parasite!</strong>
        </button>
        <button type="button" class="col-md-3 btn btn-success btn-lg pull-right btn-right-space" id="yes">
            <strong>Parasite!</strong>
        </button>

    </div>
{%endblock%}



{% block imports %}
    {{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename='js/flash-messages.js') }}"></script>

    <script src="https://cdn.rawgit.com/konvajs/konva/1.4.0/konva.min.js"></script>

    <script>
        var sample_id = {{sample_id}}
        var col = {{col}}
        var row ={{row}}


        /*********************/
        /* Set the crop tool */
        /*********************/

        /* create Konva instances */
        // Konva stage
        var view_stage = new Konva.Stage({
          container: 'view-konvajs',   // id of container <div>
          width: $('#view-konvajs').width()
        });
        // and layers added to corresponding stage from the bottom to the top :
        // - one for the image (in the bottom):
        var view_stage_img_layer = new Konva.Layer();
        view_stage.add(view_stage_img_layer);
        view_stage_img_layer.moveToBottom();
        // - the other for the annotations :
        var view_stage_anno_layer = new Konva.Layer();
        view_stage.add(view_stage_anno_layer);


        /***************/
        /* Fetch data */
        /*************/

        //***  fetch image :
        image_loaded = false;
        var imageObj = new Image();
        imageObj.src = Flask.url_for("get_chunk_url", {"sample_id": sample_id, "col":col, "row":row});


        // once the image is loaded :
        var ratio = 1;
        imageObj.onload = function() {
            Flash.success('Image was retrieved from the server', 2000);
            // compute ratio :
            console.log(imageObj.naturalWidth)
            ratio = view_stage.width()/imageObj.naturalWidth;
            console.log(ratio);
            var view_stage_image = new Konva.Image({
                x: 0,
                y: 0,
                image: this,
                width: imageObj.naturalWidth * ratio,
                height: imageObj.naturalHeight * ratio
            });
            //adjust stage height :
            view_stage.height( view_stage_image.height() );
            // add the shape to the layer
            view_stage_img_layer.add(view_stage_image);

            image_loaded = true;
            play_game();
        }



        //*** fetch corresponding annotation data :
        var data = []; // global var
        data_loaded = false;

        console.log("!!!!!!!!!!!!!!!!!!!!!!!!");

        $.getJSON(
            Flask.url_for("get_chunk_annotation", {"sample_id":sample_id , "col":col, "row":row}),

            function(received_data){
                console.log(received_data);
                Flash.success('Annotation was retrieved from the server', 3000);

                for(var i = 0; i < received_data.length; i++) {
                    var obj = received_data[i];

                    obj.stroke = 'black';
                    obj.strokeWidth = 4;
                    obj.name = obj.id.toString(); // TODO : Change the code to use id directly.

                    console.log(obj);
                }

                data_loaded = true;
                data = received_data; // set the global var
                play_game() ;
            }
        );


        var success = 0;
        var errors = 0;

        // Pass argument to event handle in jquerry
        // when we want to keep the this bind
        // http://stackoverflow.com/a/979344
        // http://jsfiddle.net/Tk7yF/
        function response_validation(answer, anno){
            /* Arguments :
            * ------------
            * this
            * current annotation
            */

            console.log(anno.annotation[0], anno.annotation[0]=='P', answer, success, errors);
            if (anno.annotation[0]=='P' && answer == 'yes') {
                // success = ++success;
                success++;
                $('#success').html(success);
            } else if (anno.annotation[0]!='P' && answer == 'no') {
                //success = ++success;
                success++;
                $('#success').html(success);
            } else{
                //errors = ++errors;
                errors++;
                $('#errors').html(errors);
            }
        }


        function handle_end_game(){
            if(confirm("Success: "+success+"  errors: "+errors+".\nDo you want to replay?")){
                location.reload();
            } else {
                window.location.href = "{{url_for('index')}}";
                // href or replace ?
                //http://stackoverflow.com/a/506004
            }
        }

        var current_ratio_rect;

        function play_round(i){
            anno = data[i];
            console.log(anno);
            // compute the ratio annotation :
            var ratio_anno = {
                x: anno.x * ratio,
                y: anno.y * ratio,
                width: anno.width * ratio,
                height: anno.height * ratio,
                stroke: anno.stroke,
                strokeWidth: anno.strokeWidth * ratio,
                name: anno.name.toString() // it has to be a string !!
            };

            // add the ration annotation as a rect on the anno layer of the view stage
            console.log(ratio_anno) ;
            current_ratio_rect = new Konva.Rect({
              x: ratio_anno.x,
              y: ratio_anno.y,
              width: ratio_anno.width,
              height: ratio_anno.height,
              fill : null,
              stroke: ratio_anno.stroke,
              strokeWidth:  ratio_anno.strokeWidth,
              name: ratio_anno.name.toString() // it has to be a string !!
            });

            view_stage_anno_layer.add(current_ratio_rect);
            view_stage_anno_layer.draw();

        }

        function play_game(){
            if(data_loaded && image_loaded) {
                //shuffle the data :
                console.log("starting the game");
                console.log(data);
                console.log("shuffling data");
                data = shuffle(data);
                console.log(data);

                var i = 0;
                play_round(i);

                // check if answer is correct
                // and increment success and errors
                $("#yes").click(function() {
                    console.log("click on the 'yes' button");
                    response_validation("yes", anno);
                    next_round();
                });
                $("#no").click(function() {
                    console.log("click on the 'no' button");
                    response_validation("no", anno);
                    next_round();
                });

                // go to next annotation or end the game
                function next_round() {
                    if (i < data.length-1 ) {
                        console.log('round', i);
                        current_ratio_rect.destroy();
                        i++;
                        play_round(i);
                    } else {
                        handle_end_game();
                    }
                }
            }
        }
    </script>

{% endblock %}
