{% extends "skeleton.html" %}

{% block content %}
    <div class="row no-side" id="flash-container">
    </div>

    <div class="row col-xs-12 no-side limited-height">
        <div id="view-konvajs"></div>
    </div>

    <div class="row no-side top-margin">
            <button type="button" class="col-md-2 btn btn-info btn-lg btn-right-space">
                Success
                <span class="badge" id="success">0</span>
            </button>
            <button type="button" class="col-md-2 btn btn-info btn-lg btn-right-space">
                Errors
                <span class="badge" id="errors">0</span>
            </button>


        <button type="button" class="col-md-3 btn btn-warning btn-lg pull-right" id="no">
            <strong>Not a parasite!</strong>
        </button>
        <button type="button" class="col-md-3 btn btn-success btn-lg pull-right btn-right-space" id="yes">
            <strong>Parasite!</strong>
        </button>

    </div>
{%endblock%}



{% block imports %}
    {{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename='js/flash-messages.js') }}"></script>

    <script src="https://cdn.rawgit.com/konvajs/konva/1.4.0/konva.min.js"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/annotation.js') }}">
    <script>
        var sample_id = {{sample_id}}
        var col = {{col}}
        var row ={{row}}

        var session = new YesNoActivity();

    </script>

{% endblock %}
