{% extends "skeleton.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Smear Blood Project</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum
        </p>
    </div>
    <!-- Action grid 3 * 4 = 12-->
    <div class="row">
        <div class="col-sm-3">
            <p>Add image</p><br>
            <img src="" alt="add image icon">
        </div>
        <div class="col-sm-3">
            <p>Add annotations</p><br>
            <img src="" alt="add annotations icon">
        </div>
        <div class="col-sm-3">
            <p>Browse images</p><br>
            <img src="" alt="browse images icon">
        </div>
        <div class="col-sm-3">
            <p>Train yourself</p><br>
            <img src="" alt="training icon">
        </div>
    </div>

{% endblock %}
