{% extends "skeleton.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    <!-- Action grid 2 * 6 = 12-->
    <div class="row">
        <div class="col-sm-6">
              <a href="{{url_for('browse')}}" target="_self" class="thumbnail link-silent">
                <img src="static/img/logo-MSS-browse.svg" alt="browse images icon">
                <div class="caption text-center landing">
                  Browse blood smears and annotations
                </div>
              </a>

        </div>
        <div class="col-sm-6">
            <a href="{{url_for('elearning')}}" target="_self" class="thumbnail link-silent">
                <img src="static/img/logo-MSS-train.svg" alt="Train yourself">
                <div class="caption text-center landing">
                  Train / play
                </div>
            </a>

        </div>
    </div>
    <div>
        <p>
            <b>Malaria Smear Search</b> is a web application designed to upload and annotate thick and thin blood smears used for Malaria diagnosis.
        </p>
        <p>
            <b>Malaria Smear Search</b> also proposes a training module for students, technicians and physicians involved in Malaria diagnosis.
        </p>
        <p>
            This application is open source and all source code is available on <a href="https://github.com/pierrepo/MalariaSmearSearch">GitHub</a>. All data are under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a> (CC BY 4.0) license.
        </p>
    </div>

{% endblock %}
