{% extends "skeleton.html" %}

{% block title %}Loging page{% endblock %}

{% block content %}

        {% if form.errors %}
            <p class="error"><strong>Unable to login. See error messages below.</strong>
        {% endif %}

        {% from "_formhelpers.html" import render_field %}
        <form method="POST" action="">
          <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            <dd>{{ form.submit }}</dd>
          </dl>
          {{ form.hidden_tag() }}
        </form>


{% endblock %}
