{% extends "skeleton.html" %}

{% block title %}Signup page{% endblock %}

{% block content %}

    You will receive an email to complete registration



    {% if form.errors %}
        <p class="error"><strong>Unable to register. See error messages below.</strong>
    {% endif %}

    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="">
      <dl>

        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{ render_field(form.accept_tos) }}
        <dd>{{ form.submit }}</dd>
      </dl>
      {{ form.hidden_tag() }}
    </form>



{% endblock %}
