<!doctype html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <title>{% block title %}{{title}}{% endblock %} - Smear Blood Project</title>
        {% endblock %}
    </head>
        <body>
            <header>
                {% block header %}
                Header
                <div id="control">

                    {% if not session.logged_in %} <!-- IF LOGGED OUT -->
                        <a class="button" href="{{ url_for('signup') }}">Sign up</a>&nbsp;<a class="button" href="{{ url_for('login') }}">Log in</a>
                    {% else %} <!-- IF LOGGED IN -->
                        <a class="button" href="{{ url_for('logout') }}">Log Out</a>&nbsp;<a class="button" href="{{ url_for('account') }}">Your Account</a>
                    {% endif %} <!-- END OF IF STATEMENT -->

                </div>
                {% endblock %}
            </header>
            <nav>
                Nav
            </nav>
            <section id="content">
                {% block content %}
                <article>
                    Article
                </article>
                {% endblock %}
            </section>
            <aside>
                {% block aside %}
                Aside
                {% endblock %}
            </aside>
            <footer>
                {% block footer %}
                Footer
                {% endblock %}
            </footer>
  </body>
</html>
