<!doctype html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <title>{% block title %}{{title}}{% endblock %} - Smear Blood Project</title>

        <!-- Bootstrap -->
        <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% endblock %}
    </head>
        <body>
            <header>
                {% block header %}
                Header
                <div id="control">

                    {% if not session.logged_in %} <!-- IF LOGGED OUT -->
                        <a class="button" href="{{ url_for('signup') }}">Sign up</a>&nbsp;<a class="button" href="{{ url_for('login') }}">Log in</a>
                    {% else %} <!-- IF LOGGED IN -->
                        <a class="button" href="{{ url_for('logout') }}">Log Out</a>&nbsp;<a class="button" href="{{ url_for('account') }}">Your Account</a>
                    {% endif %} <!-- END OF IF STATEMENT -->

                </div>
                {% endblock %}
            </header>

            <!-- collapsable navbar inspired of http://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_navbar_collapse&stacked=h -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role = "navigation">
            <!--
                navbar coloration : navbar-default, navbar-inverse
                role helps the accessibility
            -->
                <div class="container-fluid">
                    <div class="navbar-header">
                        <!-- When the sreen is too small, the menu collapses in a 3 bars button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li ><a href="#">Home</a></li>
                            <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Page 1-1</a></li>
                                        <li><a href="#">Page 1-2</a></li>
                                        <li><a href="#">Page 1-3</a></li>
                                    </ul>
                            </li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container">
                <section id="content">
                    {% block content %}
                    <article>
                        Article
                    </article>
                    {% endblock %}
                </section>
                <aside>
                    {% block aside %}
                    Aside
                    {% endblock %}
                </aside>
            </div>
            <footer>
                {% block footer %}
                Footer
                {% endblock %}
            </footer>

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <!-- <script src="js/bootstrap.min.js"></script> -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
