{% extends "skeleton.html" %}

{% block title %}Blood smear upload{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/form.css')}}" />
{% endblock %}

{% block content %}

        {% if form.errors %}
            <p class="error"><strong>Unable to upload image. See error messages below.</strong>
        {% endif %}

        {% from "_formhelpers.html" import render_field %}
        <form method="POST" action="" enctype="multipart/form-data">
          <dl>
            {{ render_field(form.photo) }}
            {{ render_field(form.preparation_type) }}
            {{ render_field(form.comment) }}
            {{ render_field(form.magnification) }}
            {{ render_field(form.microscope_model) }}
            <dd>{{ form.submit }}</dd>
          </dl>
          {{ form.hidden_tag() }}
        </form>


{% endblock %}
